input,
textarea,
select,
option {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #000;
}

.block_section {
    float: left;
    width: 100%;
    position: relative;
    clear: both;
}

.transition {
    -webkit-transition: all .3s cubic-bezier(.3, 0, .2, 1);
    transition: all .3s cubic-bezier(.3, 0, .2, 1);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    display: block;
    position: relative;
}

.main_header {
    background-color: #202020;
}

.header_inner {
    float: left;
    width: 100%;
    position: relative;
    padding: 34px 0;
}

.logo {
    float: left;
    margin-top: 9px;
}

.main_nav {
    float: right;
}

.main_nav li {
    float: left;
    margin-left: 12px;
}

.main_nav a:hover,
.main_nav li.current {
    background-color: #e25050;
}

.main_nav a {
    float: left;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 15px;
    -webkit-transition: all .3s cubic-bezier(.3, 0, .2, 1);
    transition: all .3s cubic-bezier(.3, 0, .2, 1);
}

.tel_area {
    height: 38px;
    position: absolute;
    right: 0;
    bottom: -38px;
    background-color: #e25050;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    z-index: 9;
}

.tel_area:before {
    content: "";
    float: left;
    width: 38px;
    height: 38px;
    background: url(../images/phone-icon.png) no-repeat center center #bd4141;
}

.tel_area span {
    float: left;
    padding: 12px 27px;
    line-height: 0.9em;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.column-3 {
    width: 25%;
    padding: 0 15px;
    float: left;
}

.hamburger {
    width: 25px;
    float: right;
    height: 21px;
    margin-top: 9px;
    cursor: pointer;
    position: relative;
    z-index: 9999;
    margin-left: 10px;
}

.hamburger.toggled {
    background: none;
}

.hamburger span {
    width: 100%;
    float: right;
    height: 2px;
    background: #fff;
    margin-bottom: 6px;
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.hamburger.toggled span {
    background: #fff;
}

.hamburger.toggled span:first-child {
    margin-top: 7px;
    margin-bottom: 0px;
    transform: rotate(45deg);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
}

.hamburger.toggled span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
}

.hamburger.toggled span:nth-child(3) {
    width: 100%;
    margin-top: -10px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
}

.hidden-mobile {
    display: none;
}

.header-fixed .main_header {
    position: fixed;
    z-index: 99
}

.header-fixed .main_content {
    padding-top: 100px;
}

/*slider css*/


#slides {
    position: relative;
    height: 580px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide .container {
    height: 100%;
}

.slide__content {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}

.slide__content h4 {
    float: left;
    clear: both;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 18px 22px 19px;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.slide__content h5 {
    float: left;
    clear: both;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 13px 24px 14px;
    font-size: 18px;
    text-transform: uppercase;
}

.slide__content span {
    float: left;
    clear: both;
    padding: 10px 12px 11px;
    background-color: #d34f4e;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.controls {
    background: #333;
    color: #fff;
    border: none;
    padding: 20px 0px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #fff;
    margin: 10px 0px 0px 10px;
    width: 70px;
}

.controls:hover,
.controls:focus {
    background: #eee;
    color: #333;
}

.container {
    position: relative;
}

.buttons {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    z-index: 10;
    font-size: 0px;
    transform: translateY(-50%);
}


.buttons .controls {
    position: absolute;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    float: left;
    background-position: center;
    background-color: rgba(0, 0, 0, .9);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
}

#previous {
    left: 10%;
    background-image: url(../images/left-arrow.png);
}

#next {
    right: 10%;
    background-image: url(../images/right-arrow.png);

}

.trainers_section {
    background-image: url(../images/section-bg.jpg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
}

.section_title {
    float: left;
    width: 100%;
    clear: both;
    margin-top: 54px;
    text-align: center;
}

.section_title h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin-bottom: 60px;
}

.section_title h2:after {
    content: "";
    width: 45px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.column-3 {
    width: 25%;
    padding: 0 15px;
    float: left;
}

.box {
    position: relative;
    float: left;
    width: 100%;
    height: 315px;
    margin-bottom: 57px;
    overflow: hidden;
}

.box__thumb {
    float: left;
    height: 100%;
    width: 100%;
}

.box__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box__content {
    background-color: #fff;
    padding: 22px 20px;
    height: 74px;
    overflow: hidden;
    -webkit-transition: all .3s cubic-bezier(.3, 0, .2, 1);
    transition: all .3s cubic-bezier(.3, 0, .2, 1);
}

.box h4 {
    float: left;
    clear: both;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #202020;
    margin-bottom: 6px;
}

.box span {
    clear: both;
    width: 100%;
    float: left;
    color: #afafaf;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 22px;
}

.box p {
    font-family: 'Open Sans', sans-serif;
    float: left;
    width: 100%;
    clear: both;
    font-size: 13px;
    line-height: 1.45em;
    color: #777777;
}

.box__content__fliped {
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 32px 20px;
    background: #fff;
}

.box {
    -webkit-perspective: 800;
    position: relative;
}

.box:hover .box__inner {
    -webkit-transform: rotatey(-180deg);
}

.box .box__inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.box .box__inner .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}

.box .box__inner .box__front {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.3, 0, .2, 1);
    transition: all .3s cubic-bezier(.3, 0, .2, 1);
}

.box .box__inner .box__back {
    z-index: 19;
    width: 100%;
    height: 100%;
    -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .3s cubic-bezier(.3, 0, .2, 1);
    transition: all .3s cubic-bezier(.3, 0, .2, 1);
}

.box:hover .box__back {
    opacity: 1;
}